<!DOCTYPE html>
<html lang="fr" class="h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The ART MTR | {% block title %}{% endblock %}</title>

    {% load static %}
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'img/favicon.ico' %}"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />

    <!-- Boxicons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css"
      integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="{% static 'css/boxicons.min.css' %}" />

    <!-- Bootstrap -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

    <!-- ANIMATE CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}" />

    <!-- TOAST CSS -->
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    /> -->
    <link rel="stylesheet" href="{% static 'css/toast.css' %}" />

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- Alpine.js -->
    <!-- <script src="https://unpkg.com/alpinejs" defer></script> -->
    <script src="{% static 'js/vendors/alpine.js' %}" defer></script>

    <!-- <script src="https://js.stripe.com/v3/" defer></script> -->
    <script src="{% static 'js/vendors/stripe.js' %}" defer></script>
  </head>
  <body class="bg-gray-100 h-screen relative">
    {% include "components/loader.html" %}

    <main class="max-w-[1920px] mx-auto overflow-hidden bg-white">
      <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div
          id="toast-container"
          class="toast-container position-fixed top-0 end-0 p-3"
          style="z-index: 2050"
        ></div>
      </div>

      {% block content %} {% endblock content %}
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"
      defer
    ></script>
    <!-- JQUERY JS -->
    <!-- <script src="{% static 'js/vendors/jquery.js' %}" defer></script> -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <!-- WOW JS -->
    <script src="{% static 'js/vendors/wow.js' %}"></script>

    <!-- TOAST JS -->
    <!-- <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script> -->
    <script src="{% static 'js/vendors/toast.js' %}" defer></script>

    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
