<div
  class="modal rounded"
  id="removeCart"
  tabindex="-1"
  role="dialog"
  aria-label="removeCartModal"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered animated pulse"
    role="document"
  >
    <div class="modal-content" id="removeCartModal">
      <div class="modal-header text-end">
        <h4 class="text-secondary">Confirmation</h4>
        <i
          class="modal-close text-secondary far fa-times-circle fa-2x"
          style="cursor: pointer;"
          data-dismiss="modal"
          aria-hidden="true"
        ></i>
      </div>

      <div class="modal-body">
        <p class="text-body">Confirmez-vous la suppression de ce panier</p>
        <div class="d-flex align-items-center justify-content-end">
          <button
            class="modal-close btn btn-secondary rounded-pill px-3 m-2"
            data-dismiss="modal"
            aria-hidden="true"
          >
            Annuler
          </button>
          <a href="{% url 'store:delete-cart' %}" class="btn btn-danger rounded-pill"
            >Confirmer</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
