{% extends "base.html" %} {% load static %} {% load blog_custom_tags %}

{% block title %} Actualité {% endblock title %} 

{% block content %}

{% breadcrumb "Actualité & Evenements" "A venir chez The MTR Art" user preview_cart_items %}

<section
  class="mt-8 pt-4 pb-5 container mx-auto wow animate__animated animate__fadeIn"
  data-wow-delay="0.3s"
>
  <div class="flex items-center justify-center flex-col">
    <div class="flex items-center flex-col subtitle mb-8">
      <h2 class="text-center mb-4">Nos <span>Evenements</span></h2>
      <div class="subtitle-line"></div>
    </div>

    <div class="grid-container">
      {% for post in posts %} {% postCard post user %} {% endfor %}
    </div>

    <div
      class="mt-8 wow animate__animated animate__zoomIn flex justify-between items-center gap-3"
    >
      {% if posts.has_previous %}
      <a href="?page={{ posts.previous_page_number }}" class="text-black text-2xl bx bx-chevron-left"
        ></a
      >
      {% else %}
      <span class="text-gray-600 text-2xl bx bx-chevron-left"></span>
      {% endif %}

      <span class="text-gray-600"
        >Page {{ posts.number }} sur {{ posts.paginator.num_pages }}</span
      >

      {% if posts.has_next %}
      <a href="?page={{ posts.next_page_number }}" class="text-black text-2xl bx bx-chevron-right"
        ></a
      >
      {% else %}
      <span class="text-gray-600 text-2xl bx bx-chevron-right"></span>
      {% endif %}
    </div>
  </div>
</section>

{% endblock content %}
