{% extends "base.html" %} 

{% load static %} {% load mytags %} 


{% block title %} Shop - Product Détail {% endblock title %} 

{% block content %} 

{% include "components/loader.html" %} 
{% include "store/layout/header.html" %} 

{% breadcrumb "404 - Not Found" "Fresh and Organic" %}

<!-- error section -->
<div class="full-height-section error-section">
  <div class="full-height-tablecell">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <div class="error-text">
            <i class="far fa-sad-cry"></i>
            <h1>Oops! Not Found.</h1>
            <p>The page you requested for is not found.</p>
            <a href="{% url 'store:home' %}" class="boxed-btn">Back to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end error section -->
{% include "store/layout/footer.html" %} {% endblock content %}
