{% extends "base.html" %} {% load static %} {% load store_custom_tags %} 

{% block title %} A Propos {% endblock title %} 

{% block content %} 

{% breadcrumb "A Propos" "Aller à ma rencontre" user preview_cart_items  %}

<section class="mt-8 pt-4 pb-5 about wow animate__animated animate__fadeIn" data-wow-delay="0.3s">
  <div class="container mx-auto pb-2">
    <div class="flex justify-center items-start gap-4">
      <div class="about-img wow animate__animated animate__slideInLeft">
        <img src="{% static 'img/logo.png' %}" alt="" />
      </div>
      <div class="about-text wow animate__animated animate__slideInRight">
        <div class="subtitle mb-8">
          <h2 class="mt-3 mb-4">Qui <span>suis-je</span></h2>
        </div>
        <p class="text-gray-600 text-lg mb-8">
          Peintre français né en 1983 d'origine Espagnole, entouré depuis son plus jeune âge par une famille d'artiste.
          Il s'inspire de leurs différentes techniques et leurs différents styles pour créer son propre univers.
          Pour lui la peinture est un moyen d'expression, de transmission, de création et de contemplation.
          Chacune de ses œuvres est une explosion de couleurs, de formes et d'énergie, créant un langage visuel unique qui brise les frontières de la tradition artistique. A travers ses personnages, il aime mélanger les styles et les époques "une véritable rencontre entre Cubisme, Street-art et Pop-art".
          Un mariage inattendu mais époustouflant de style.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- end featured section -->

{% include "components/footer.html" %}

{% endblock content %}
