{% extends "base.html" %} {% load static %} {% load custom_tags %} 

{% block title %} A Propos {% endblock title %} 

{% block content %} 

{% breadcrumb "A Propos" "Aller à ma rencontre" user %}

<section class="mt-8 pt-4 pb-5 about wow animate__animated animate__fadeIn" data-wow-delay="0.3s">
  <div class="container mx-auto pb-2">
    <div class="flex justify-center items-start gap-4">
      <div class="about-img wow animate__animated animate__slideInLeft">
        <img src="{% static 'img/logo.png' %}" alt="" />
      </div>
      <div class="about-text wow animate__animated animate__slideInRight">
        <div class="subtitle mb-8">
          <h2 class="mt-3 mb-4">Qui <span>suis-je</span></h2>
        </div>
        <p class="text-gray-600 text-lg mb-8">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ipsam
          quod nesciunt eius accusantium enim quo laborum, ex possimus officia
          libero molestiae doloribus nostrum consequatur nobis modi nemo hic.
          Delectus? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Saepe esse eaque odit! Porro rem aliquam maiores consequatur eveniet,
          quos autem error totam natus distinctio optio modi impedit
          voluptatibus nobis ducimus! Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Sint voluptates nisi culpa tenetur est quo in vero
          et officia obcaecati quod facere ullam ad aspernatur, iusto corrupti.
          Atque, modi esse!
        </p>
        <a href="{% url 'store:about' %}" class="btn btn-black">En savoir plus</a>
      </div>
    </div>
  </div>
</section>
<!-- end featured section -->

<!-- team section -->
<div class="mt-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3>Our <span class="orange-text">Team</span></h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
            fuga quas itaque eveniet beatae optio.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-team-item">
          <div class="team-bg team-bg-1"></div>
          <h4>Jimmy Doe <span>Farmer</span></h4>
          <ul class="social-link-team">
            <li>
              <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-team-item">
          <div class="team-bg team-bg-2"></div>
          <h4>Marry Doe <span>Farmer</span></h4>
          <ul class="social-link-team">
            <li>
              <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
        <div class="single-team-item">
          <div class="team-bg team-bg-3"></div>
          <h4>Simon Joe <span>Farmer</span></h4>
          <ul class="social-link-team">
            <li>
              <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end team section -->

{% endblock content %}
