{% extends "base.html" %}

{% load static %}
{% load store_custom_tags %}

{% block title %}Panier{% endblock title %}

{% block content %}
{% breadcrumb "Panier" "Votre panier est prêt à être acheté !" user preview_cart_items %}

<section class="cart-section py-5">
  <div class="container">
    <div class="row">
      <!-- Tableau du panier -->
      <div class="col-lg-8 col-12 mb-4 mb-lg-0">
        <div class="card border-light shadow-sm rounded-3">
          <div class="card-body">
            <h4 class="mb-4">Votre Panier</h4>
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead class="table-light">
                  <tr>
                    <th scope="col">Produit</th>
                    <th scope="col" class="d-none d-md-table-cell">Prix</th>
                    <th scope="col" class="d-none d-md-table-cell">Quantité</th>
                    <th scope="col" class="d-none d-md-table-cell">Total</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody id="cart-items-table">
                  {% for item in cart %}
                  <tr>
                    <td>
                      <div class="d-flex flex-column flex-sm-row align-items-center">
                        <img
                          src="{{ item.artwork.thumbnail.url }}"
                          alt="{{ item.artwork.title }}"
                          class="img-thumbnail mb-2 mb-sm-0 me-sm-3"
                          width="80"
                          height="95"
                        />
                        <div>
                          <h5 class="mb-1">{{ item.artwork.title }}</h5>
                          <p class="mb-0 text-muted">Catégorie: {{ item.artwork.category }}</p>
                        </div>
                      </div>
                    </td>
                    <td class="d-none d-md-table-cell">{{ item.artwork.price }} €</td>
                    <td class="d-none d-md-table-cell">{{ item.quantity }}</td>
                    <td class="d-none d-md-table-cell">{{ item.get_total_price|floatformat:2 }} €</td>
                    <td>
                       <button
                    x-data="cartHandler()"
                    x-on:click="removeFromCart('{{ item.uuid }}')"
                    class="btn btn-outline-danger btn-sm"
                    title="Retirer du panier"
                  >
                    Retirer
                  </button>
                    </td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="5" class="text-center">Panier vide</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Récapitulatif du panier -->
      <div class="col-lg-4 col-12">
        <div class="card border-light shadow-sm rounded-3">
          <div class="card-body">
            <h4 class="mb-4">Récapitulatif</h4>
            <div class="d-flex justify-content-between mb-3">
              <span>Total</span>
              <strong>{{ total_cost }} €</strong>
            </div>
            <div class="text-center">
              <a
                href="{% url 'store:checkout' %}"
                class="btn btn-black btn-lg w-100"
              >Procéder au paiement</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "components/footer.html" %}
{% endblock content %}
