{% extends "base.html" %} {% load static %} {% load custom_tags %}

{% block title %} Panier {% endblock title %} {% block content %}

{% breadcrumb "Panier" "Bien remplis et prêt à être acheter !" user preview_cart_items %}

<!-- Cart Section -->
<section
  class="mt-8 pt-4 pb-5 cart wow animate__animated animate__fadeIn"
  data-wow-delay="0.3s"
>
  <div class="container mx-auto pb-2">
    <div class="flex justify-center items-start gap-4">
      <div class="cart-table-wrap wow animate__animated animate__slideInLeft">
      <table class="cart-table">
        <thead class="cart-table-head">
          <tr class="table-head-row">
            <th class="artwork-remove">
              <i
                class="bx bx-trash-alt text-red text-2xl"
                style="cursor: pointer"
                title="Supprimer le panier"
                data-toggle="modal"
                data-target="#removeCart"
              ></i>
            </th>
            <th class="artwork-image">Image</th>
            <th class="artwork-name">Titre de l'oeuvre</th>
            <th class="artwork-price">Prix</th>
            <th class="artwork-quantity">Quantité</th>
            <th class="artwork-total">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart %}
          <tr class="table-body-row">
            <td class="artwork-remove">
              <button
                x-data="cartHandler()"
                x-on:click="removeFromCart('{{ item.uuid }}')"
                class="text-red border-none bg-transparent text-lg cursor-pointer"
                title="retirer du panier"
              >
                <i class="bx bx-x-circle text-red"></i>
              </button>
            </td>
            <td class="artwork-image">
              <img src="{{ item.artwork.thumbnail.url}}" alt="Artwork Title" />
            </td>
            <td class="artwork-name">{{ item.artwork.title }}</td>
            <td class="artwork-price">{{ item.artwork.price }} €</td>
            <td class="artwork-quantity">{{ item.quantity }}</td>
            <td class="artwork-total">{{ item.get_total_price }} €</td>
          </tr>

          {% empty %}
          <tr>
            <td colspan="6" class="text-center">Panier vide</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="wow animate__animated animate__slideInRight">
      <div class="total-section">
        <table class="total-table">
          <thead class="total-table-head">
            <tr class="table-total-row">
              <th>Total</th>
              <th>Prix</th>
            </tr>
          </thead>
          <tbody>
            <tr class="total-data">
              <td><strong>Coût total: </strong></td>
              <td>{{ total_cost }} €</td>
            </tr>
            <tr class="total-data">
              <td><strong>Livraison: </strong></td>
              <td>0 €</td>
            </tr>
            <tr class="total-data">
              <td><strong>Total à payer: </strong></td>
              <td>{{ total_cost|add:0 }}  €</td>
            </tr>
          </tbody>
        </table>
        <div class="cart-buttons">
          <a href="{% url 'store:checkout' %}" class="btn btn-red w-full">Check Out</a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Cart Section -->

  {% endblock content %}
</section>
