{% extends "base.html" %} {% load static %}

{% load store_custom_tags %} {% block title %}Finaliser votre commande{% endblock %}

{% block content %}

{% breadcrumb "Finaliser votre commande" "Plus qu'une dernière étape" user preview_cart_items %}

<section
  class="mt-8 pt-4 pb-5 checkout wow animate__animated animate__fadeIn"
  data-wow-delay="0.3s"
>
  <div class="container">
    <div class="row w-full">
      <div class="col-12 col-md-7">
        <div class="card mb-3">
          <div class="card-header">Adresse de facturation</div>
          <div class="card-body">
            <form method="post" id="billing-form">
              {% csrf_token %}
              <div class="mb-3">
                <label for="name" class="form-label">Nom</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder="Votre nom"
                  value="{{ user.get_full_name }}"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Votre email"
                  value="{{ user.email }}"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="address" class="form-label">Adresse</label>
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  name="address"
                  placeholder="Votre adresse"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="phone" class="form-label">Téléphone</label>
                <input
                  type="tel"
                  class="form-control"
                  id="phone"
                  name="phone"
                  placeholder="Votre numéro de téléphone"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="comments" class="form-label">Commentaires</label>
                <textarea
                  class="form-control"
                  id="comments"
                  name="comments"
                  rows="3"
                  placeholder="Ajoutez un commentaire"
                ></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-5">
        <!-- Récapitulatif du panier -->
        <div class="card mb-3">
          <div class="card-header">Récapitulatif du panier</div>
          <div class="card-body">
            {% include "store/partials/cart_items.html" with cart=cart %}
          </div>
          <div class="card-footer w-full">
            <h4 class="text-lg">Total : {{ total_cost }} €</h4>
          </div>
        </div>

        <!-- Options de paiement -->
        <div class="card">
          <div class="card-header">Options de paiement</div>
          <div class="card-body">
            <!-- Stripe -->
            <button id="stripe-button" class="btn btn-black w-100 mb-3" type="submit">
              Payer avec Stripe
            </button>

            <!-- PayPal -->
            <div id="paypal-button-container"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %} {% block extra_js %}

<!--   -->
<script src="https://js.stripe.com/v3/"></script>
<script>
  var stripe = Stripe("{{ stripe_public_key }}");
  const stripe_checkout_button = document.getElementById("stripe-button");

  function redirectToCheckout(sessionId) {
    stripe.redirectToCheckout({ sessionId: sessionId }).then(function (result) {
      if (result.error) {
        alert(result.error.message);
      }
    });
  }

  stripe_checkout_button.addEventListener("click", function () {

    stripe_checkout_button.innerHTML = "Chargement..."

    fetch('{% url "store:create_checkout_session" %}', {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}",
      },
      body: JSON.stringify({
        email: "{{user.email}}",
      }),
    })
      .then(function (response) {
        console.log(response)
        return response.json();
      })
      .then(function (data) {
        console.log(data)
        redirectToCheckout(data.sessionId);
      })
      .catch(function (error) {
        console.error("Error:", error);
      });
  });
</script>

<!-- PayPal -->
<script src="https://www.paypal.com/sdk/js?client-id={{ paypal_client_id }}&currency=EUR"></script>
<script>
  paypal
    .Buttons({
      createOrder: function (data, actions) {
        return fetch('{% url "store:create_paypal_payment" %}', {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            total_cost: "{{ total_cost }}", // Utilise le coût total du panier
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            return actions.order.create({
              purchase_units: [
                {
                  reference_id: "default",
                  amount: {
                    currency_code: "EUR",
                    value: "100.00",
                  },
                },
              ],
            });
          });
      },
      onApprove: function (data, actions) {
        return fetch(
          '{% url "store:execute_paypal_payment" %}?paymentId=' +
            data.orderID +
            "&PayerID=" +
            data.payerID
        )
          .then((response) => response.json())
          .then((data) => {
            window.location.href = '{% url "store:payment-success" %}';
          });
      },
      onCancel: function () {
        window.location.href = '{% url "store:payment-fail" %}';
      },
    })
    .render("#paypal-button-container");
</script>

{% endblock extra_js %}
