{% extends "base.html" %} {% load static %} {% load custom_tags %} 

{% block title %} Galerie {% endblock title %} 

{% block content %}

{% breadcrumb "Galerie" "Des tableaux unique et exceptionnel" user %}

<section
  class="mt-8 pt-4 pb-5 container mx-auto wow animate__animated animate__fadeIn"
  data-wow-delay="0.3s"
>
  <div class="flex items-center justify-center flex-col">
    <div class="flex items-center flex-col subtitle mb-8">
      <h2 class="text-center mb-4">Notre <span>Galerie d'Art</span></h2>
      <div class="subtitle-line"></div>
    </div>

    <div class="grid-container">
      {% for artwork in artworks %} {% artworkCard artwork %} {% endfor %}
    </div>

    <div
      class="mt-8 wow animate__animated animate__zoomIn flex justify-between items-center gap-3"
    >
      {% if artworks.has_previous %}
      <a href="?page={{ artworks.previous_page_number }}" class="text-black text-2xl bx bx-chevron-left"
        ></a
      >
      {% else %}
      <span class="text-gray-600 text-2xl bx bx-chevron-left"></span>
      {% endif %}

      <span class="text-gray-600"
        >Page {{ artworks.number }} sur {{ artworks.paginator.num_pages }}</span
      >

      {% if artworks.has_next %}
      <a href="?page={{ artworks.next_page_number }}" class="text-black text-2xl bx bx-chevron-right"
        ></a
      >
      {% else %}
      <span class="text-gray-600 text-2xl bx bx-chevron-right"></span>
      {% endif %}
    </div>
  </div>
</section>

{% endblock content %}
