{% extends "base.html" %} 

{% load static %} {% load store_custom_tags %} 

{% block title %}My Account{% endblock %} 

{% block content %} 

{% include "components/loader.html" %}
{% include "store/layout/header.html" %}

{% breadcrumb "Mon Compte" "Gère ton compte comme tu le sens !" %}

<div class="mt-4 py-5">
  <div class="container">
    <div class="rounded shadow">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="d-flex align-items-center justify-content-center py-4">
            <div class="container">
              <form
                action="{% url 'accounts:update-account' %}"
                method="post"
                class="px-2 py-3"
              >
                <h3 class="text-secondary-emphasis" style="color: #f28123">
                  Informations compte !
                </h3>

                {% if messages %}
                <div class="alert alert-danger">
                  {% for message in messages %} {{ message }} {% endfor %}
                </div>
                {% endif %} {% csrf_token %}

                <div class="mb-3">
                  <label for="first_name" class="form-label">Prénom</label>
                  <input
                    type="text"
                    name="first_name"
                    id="first_name"
                    class="form-control form-control-lg"
                    placeholder="Votre prénom"
                    value="{{ user.first_name }}"
                  />
                </div>

                <div class="mb-3">
                  <label for="last_name" class="form-label">Nom</label>
                  <input
                    type="text"
                    name="last_name"
                    id="last_name"
                    class="form-control form-control-lg"
                    placeholder="Votre nom"
                    value="{{ user.last_name }}"
                  />
                </div>

                <div class="mb-3">
                  <label for="username" class="form-label"
                    >Nom d'utilisateur</label
                  >
                  <input
                    type="text"
                    name="username"
                    id="username"
                    class="form-control form-control-lg"
                    placeholder="Nom d'utilisateur"
                    value="{{ user.username }}"
                  />
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label"
                    >Addresse électronique</label
                  >
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-control form-control-lg"
                    placeholder="Adresse mail"
                    value="{{ user.email }}"
                  />
                </div>
                <div class="d-flex align-items-center justify-content-center">
                  <button
                    type="submit"
                    class="btn rounded-pill mx-2"
                    style="
                      font-family: 'Inter', sans-serif;
                      display: inline-block;
                      background-color: #f28123;
                      color: #fff;
                      padding: 10px 20px;
                    "
                  >
                    Mettre à jour
                  </button>
                  <a
                    href="{% url 'accounts:delete-account' %}"
                    class="btn btn-danger rounded-pill py-2"
                  >
                    Supprimer compte
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="d-flex align-items-center justify-content-center pt-5">
                <div class="container">
                    <h3 class="text-secondary-emphasis" style="color: #f28123">
                        <i class="fas fa-history"></i> Historique d'activité !
                    </h3>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "store/layout/footer.html" %} {% endblock content %}