{% extends "base.html" %}

{% load static %}

{% load store_custom_tags %}

{% block title %} Créer un compte {% endblock %}

{% block content %}

{% breadcrumb "Créer un compte" "Pour une meilleure expérience" user preview_cart_items %}

<section class="mt-8 pt-4 pb-5 contact wow animate__animated animate__fadeIn" data-wow-delay="0.3s">
  <div class="container mx-auto flex items-center justify-center">
    <div class="auth-form wow animate__animated animate__slideInUp shadow rounded-sm px-4 py-3">
      <form method="POST">
        {% csrf_token %}
        <h2 class="text-4xl text-black text-center mb-6">Créer un compte</h2>
        
        {{ form.as_p }}
        <div class="flex items-center justify-between mt-6">
          <button type="submit"
            class="btn btn-black w-full">S'inscrire</button>
        </div>
        <div class="mt-4 text-center">
          <p class="text-sm text-gray-600">Déjà un compte? <a href="{% url 'accounts:login' %}"
              class="text-blue-600">Connectez-vous ici</a></p>
        </div>
      </form>
    </div>
  </div>
</section>

{% include "components/footer.html" %}
{% endblock content %}
