{% for item in artworks %}
<tr class="table-body-row">
  <td class="artwork-image">
    <img
      src="{{ item.thumbnail.url }}"
      alt="{{ item.title }}"
      class="img-fluid"
    />
  </td>
  <td class="artwork-name">{{ item.title }}</td>
  <td class="artwork-price">{{ item.price }} €</td>
  <td class="artwork-category">{{ item.category.name }}</td>
  <td class="artwork-medium">{{ item.medium.name }}</td>
  <td class="artwork-actions flex items-center justify-center h-full">
    <a
      href="{% url 'manager:artwork-detail' item.id %}"
      class="btn btn-black btn-sm"
      >Détail</a
    >
    <button
      x-data="ArtworkHandler()"
      x-on:click="removeArtwork('{{ item.id }}')"
      class="btn btn-danger btn-sm"
      title="Supprimer l'œuvre"
    >
      <i class="bx bx-trash-alt"></i>
    </button>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="6" class="text-center">Aucune œuvre trouvée.</td>
</tr>
{% endfor %}
