<div class="sidebar bg-black text-white p-3">
  <div class="text-center mb-4">
    <h2 class="text-red text-2xl">The MTR <span class="text-white">| Admin</span></h2>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link text-white bg-red" href="{% url 'manager:dashboard' %}"
        >Tableau de Bord</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="{% url 'manager:artwork-page' %}"
        >Mes ouevres</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#"
        >Evénements</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#"
        >Commandes</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#"
        >Paiements</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#"
        >Paramètres</a
      >
    </li>
  </ul>
</div>
