<div class="card wow animate__animated animate__slideInUp" data-wow-delay="0.3s">
  {% if post.thumbnail %}
  <div class="card-img">
    <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" />
  </div>
  {% else %}
  <div class="card-img">
    <img src="/media/posts/default.jpg" alt="{{ post.title }}" />
  </div>
  {% endif %}

  <div class="p-4">
    <div class="card-text">
      <h3 class="text-2xl mb-2">{{ post.title }}</h3>
      <p>{{ post.description }}</p>
    </div>

    <div class="flex items-start mt-4">
      <a href="{% url 'blog:post-detail' post.slug %}" class="text-red">Lire</a>
    </div>
  </div>
</div>
