<!-- breadcrumb-section -->
<section class="breadcrumb-section bg-gray-900 flex items-center justify-center">
  
  {% include "components/header.html" %}
  <div class="container mx-auto flex items-center justify-center flex-col z-10 mt-2">
    <div class="flex justify-center items-center text-center flex-col mt-8 pt-4">
      <p
        class="text-lg text-gray-200 mb-4 wow animate__animated animate__slideInUp"
      >
        {{msg}}
      </p>
      <h2
        class="text-6xl text-center text-red mb-4 wow animate__animated animate__fadeIn"
        data-wow-delay="0.4s"
      >
        {{title}}
      </h2>
    </div>
  </div>
</section>
<!-- end breadcrumb section -->
