{% load static %}
<header
  x-data="{ isSticky: false, showCart: false }"
  x-init="window.addEventListener('scroll', () => isSticky = window.scrollY > 50)"
  x-bind:class="{ 'bg-gray-900 shadow-lg': isSticky, 'bg-transparent': !isSticky }"
  class="wow animate__animated animate__fadeIn"
  id="sticker"
>
  <div class="container mx-auto flex justify-between items-center">
    <!-- logo -->
    <a href="{% url 'store:home' %}">
      <img src="{% static 'img/logo.png' %}" width="60" alt="logo" />
    </a>
    <!-- logo -->

    <!-- menu start -->
    <nav class="navbar pt-3">
      <ul class="flex items-center">
        <li>
          <a
            href="{% url 'store:home' %}"
            class="{% if request.PATH_INFO == '/' %} active text-red-600 {% else %} text-white {% endif %}"
            >Accueil</a>
        </li>
        <li>
          <a
            href="{% url 'store:about' %}"
            class="{% if request.PATH_INFO == '/about/' %} active text-red-600 {% else %} text-white {% endif %}"
            >A Propos</a>
        </li>
        <li>
          <a
            href="{% url 'store:gallery' %}"
            class="{% if request.PATH_INFO == '/store/' %}active text-red-600{% else %}text-white{% endif %}"
            >Boutique</a>
        </li>
        <li>
          <a
            href="{% url 'blog:home' %}"
            class="{% if request.PATH_INFO == '/blog/' %}active text-red-600{% else %}text-white{% endif %}"
            >Blog</a
          >
        </li>
        <li>
          <a
            href="{% url 'store:contact' %}"
            class="{% if request.PATH_INFO == '/contact/' %} active text-red-600{% else %} text-white{% endif %}"
            >Contact</a
          >
        </li>

        <li>
          {% if user.is_authenticated %}
          <div class="flex items-center justify-center gap-3 relative">
            <!-- Panier Button -->
            <button
              type="button"
              @click="showCart = !showCart"
              class="text-white bg-transparent border-none"
              title="voir le panier"
            >
              <i class="bx bx-cart text-2xl"></i>
            </button>

            <!-- Utilisateur Button -->
           <a
              href="{% url 'accounts:profile' %}"
              class="text-white bg-transparent border-none"
              title="Mon compte"
            >
              <i class="bx bx-user text-2xl"></i>
          </a>

          {% else %}
          <a href="{% url 'accounts:login' %}" class="btn btn-red"
            >Se connecter</a
          >
          {% endif %}
        </li>
      </ul>
    </nav>
    <div class="mobile-menu" id="mobile-menu">
      <i class="bx bx-menu text-white z-20"></i>
    </div>
    <!-- menu end -->
  </div>

  <!-- Modal for Cart -->
  <div
    x-cloak
    x-show="showCart"
    x-transition.opacity
    x-transition:enter.duration.500ms
    x-transition:leave.duration.400ms
    class="cart-preview-overlay"
  >
    <div class="cart-preview shadow-md rounded px-2 py-3">
      <div class="relative">
        <button
          type="button"
          @click="showCart = !showCart"
          class="close-btn"
          title="Fermer le panier"
        >
          <i class="bx bx-x text-2xl"></i>
        </button>
        <h2 class="text-lg font-bold pt-2 text-center">Votre Panier</h2>
        <ul id="cart-items">
          {% for item in preview_cart_items %}
          <li class="flex items-center justify-between w-full py-2">
            <div>
              <img
                src="{{ item.artwork.thumbnail.url }}"
                alt="{{ item.artwork.title }}"
                class="rounded"
                width="60"
                height="60"
              />
            </div>

            <div class="ml-2 flex justify-start flex-col w-full px-2">
              <h3 class="text-sm">{{ item.artwork.title }}</h3>
              <div class="flex items-center gap-4 mt-2">
                <p class="text-gray-600">{{ item.artwork.price }} €</p>
                <p class="text-gray-600">Quantité: {{ item.quantity }}</p>
              </div>
            </div>
            <button
              @click="removeFromCart('{{ item.uuid }}')"
              class="text-red border-none bg-transparent text-lg cursor-pointer"
              title="retirer du panier"
            >
              <i class="bx bx-trash text-xl"></i>
            </button>
          </li>
          {% empty %}

          <li class="flex items-center justify-between w-full py-2">
            <h3 class="text-sm">Votre panier est vide</h3>
            <a href="{% url 'store:gallery' %}"> Consulter la galerie</a>
          </li>
          {% endfor %}
        </ul>
        {% if preview_cart_items %}
        <a href="{% url 'store:cart' %}" class="mt-4 btn btn-red">Voir le reste du panier</a>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- End Modal for Cart -->
</header>
