{% extends "base.html" %}

{% load static %}

{% load store_custom_tags %}

{% block title %}Paiement Réussi{% endblock title %}

{% block content %}

{% breadcrumb "Paiement Réussi" "Votre article arrive bientôt!" user preview_cart_items %}
<section class="cart-section mt-8 mb-5">
<div class="container d-flex align-items-center justify-content-center">
      <div class="card text-center">
      <h1  class="text-2xl">Paiement Réussi</h1>
      <p>Votre paiement a été traité avec succès. Merci pour votre achat !</p>
      <a href="{% url 'store:home' %}">Retour à l'accueil</a>
    </div>
        </div>
</section>
{% include "components/footer.html" %} {% endblock content %}