{% extends "base.html" %}

{% load static %}

{% load manager_custom_tags %}

{% block title %}Paramètres{% endblock title %}

{% block content %}
<div class="flex">
  {% include "manager/partials/sidebar.html" %}

  <div class="main-content p-4">
    {% topbar "Paramètres" user %}
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Catégories</h5>
              <form method="post" action="{% url 'manager:add-category' %}">
                {% csrf_token %}
                <div class="mb-3">
                  {{ category_form.as_p }}
                </div>
                <button type="submit" class="btn btn-black">Ajouter Catégorie</button>
              </form>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Liste des Catégories</h5>
              <ul class="list-group">
                {% for category in categories %}
                <li class="list-group-item">{{ category.name }}</li>
                {% empty %}
                <li class="list-group-item">Aucune catégorie trouvée.</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title">Médiums</h5>
              <form method="post" action="{% url 'manager:add-medium' %}">
                {% csrf_token %}
                <div class="mb-3">
                  {{ medium_form.as_p }}
                </div>
                <button type="submit" class="btn btn-black">Ajouter support</button>
              </form>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Liste des Supports</h5>
              <ul class="list-group">
                {% for medium in mediums %}
                <li class="list-group-item">{{ medium.name }}</li>
                {% empty %}
                <li class="list-group-item">Aucun médium trouvé.</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <!-- Autres éléments à ajouter -->

      </div>
    </div>
  </div>
</div>
{% endblock content %}
